# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Данные (производные — воспроизводимы)
*.parquet

# Окружение
.venv/
venv/
env/

# VS Code
.vscode/

# ОС
Thumbs.db
.DS_Store

# MinIO client
mc.exe